

.page-item.active .page-link {
    background-color: #229ea2 !important;
    border-color: rgba(167,216,217,255) !important;
}

.page-link {
    color: #a2a5ac !important;
}

    .page-link:hover {
        z-index: 2;
        color: #0a58ca;
        background-color: #229ea2 !important;
        border-color: #dee2e6;
    }

    .page-link:focus {
        z-index: 3;
        box-shadow: none !important;
    }


